<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/base.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header_content">
                <div class="header_logo">
                    <img src="/images/logo.svg" alt="">
                </div>
                <div class="header_links">
                    <div class="header_link">
                        <img src="/images/list.svg" alt="">
                        Все курсы
                    </div>
                    <div class="header_link">
                        Мероприятия
                    </div>
                    <div class="header_link">
                        Базы знаний
                    </div>
                    <div class="header_link">
                        Карьера
                    </div>
                </div>
                <div class="header_info">
                    <div class="city_bg">
                        <div class="choose_city">
                            <img class="city_image" src="../images/city.svg" alt="">
                            <button>Какой-то город</button>
                            <img class="arrow_image" src="../images/arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="header_phone">
                        8 800 950-33-98
                    </div>
                    <div class="header_login">
                        <button>
                            <img src="../images/person.svg" alt="">
                            Войти
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>
