@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.subjects_slider {
    width: 880px;
    background-color: white;
}

.subjects_header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 37px;
}

.subjects_header_bg {
    padding-bottom: 5px;
}

.subjects_header_bg:hover {
    cursor: pointer;
    background: linear-gradient(to right, #F7941D, #27AAE1) no-repeat center;
}

.subjects_header_item {
    background-color: white;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.subjects_header_item > img {
    padding-right: 16px;
}


.item_text > span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.item_text > span:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.subjects_content {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
}